/* COMMON */
*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
img{
    display: block;
    box-sizing: border-box;
}
.section{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.title{
    position: absolute;
    height: 20%;
}
.title h1{
    color: #d4a373;
    font-size: 150px;
    opacity: 0;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.6s;
    transition: opacity 0.4s, transform 0.6s;
}
.title h2{
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 60px;
    opacity: 0;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.6s;
    transition: opacity 0.4s, transform 0.6s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.title.active h1,
.title.active h2{
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/* INTRO */
.intro{
    position: relative;
    width: 100%;
    background: #d4a373;
    overflow: hidden;
}
.intro .circle{
    position: absolute;
    left: 0;
    width: 1535px;
    height: 1535px;
    border-radius: 50%;
}
.intro .one{
    top: 0;
    background: #cec69c;
    opacity:1;
}
.intro .two{
    bottom: 0;
    background: #efd7b2;
    opacity: 0.7;
}
.intro img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
}


/* LOGO INDENTITY */
.identity .type1{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
}
.identity .type1 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.identity  .container .logo{
    width: 300px;
    height: 300px;
}
.identity .container .logo img{
    width: 200px;
    height: 200px;
    margin-left: 55px;
}
.identity .container .logo .text{
    font-size: 30px;
    margin-top: 50px;
}   
.identity .container .logo .text p{
    text-align: center;
}
.identity .content{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
}
.identity .content .text-group{
    position: absolute;
    top: 20%;
    left: 15%;
}
.identity .content p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    font-size: 24px;
}


/* SYMBOL CONSTRUCTION */
.contruction .img{
    position: absolute;
    top: 15%;
    right: 5%;
    width: 600px;
    height: 600px;
}
.contruction .note{
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
}


/* COLOR */
.color .img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 40%;
}


/* FINAL LOGO */
.container{

}
.container .logo2{
    position: absolute;
    top: 0;
    width: 50%;
}
.container .img1{
    left: 0;
}
.container .img2{
    right: 0;
}
.container .img1 img,
.container .img2 img{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.container .img1 img{
    width: 500px;
    height: 400px;
}
.container .img2 img{
    width: 700px;
    height: 200px;
}


/*  FINAL LOGO BLACK BG,
    FINAL LOGO GRAY */
.final-logo-black-bg{
    background: #000;
}
.color .container .img1 img,
.color .container .img2 img{
    top: 30%;
}
.color .container .img3{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.color .container .img3{
    width: 60%;
    height: 30%;
}


/* GNB */
.controller{
    position: fixed;
    top: 50%;
    right: 2%;
    z-index: 100;
    margin: 0;
    margin-top: -92px;
    padding: 0;
    width: 14px;
    list-style: none;
}
.controller li{
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
}
.controller li:last-child{
    margin-bottom: 0;
}
.controller li a{
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    background: #452b19;
    transform: scale(0.5);
    border-radius: 50%;
}
.controller li a.on{
    background: #ccd5ae;
    transform: scale(1);
}